global
  log stdout format raw local0 info
  maxconn 20000

resolvers docker
  nameserver dns 127.0.0.11:53
  resolve_retries 3
  timeout resolve 1s
  timeout retry 1s
  hold valid 10s


defaults
  log global
  mode tcp
  option tcplog
  timeout connect 5s
  timeout client 2m
  timeout server 2m

frontend public_tls_443
  bind :443
  tcp-request inspect-delay 5s
  tcp-request content accept if { req.ssl_hello_type 1 }
  acl is_turn_tls req.ssl_sni -i "$DD_TURN_DOMAIN"
  use_backend turn_tls if is_turn_tls
  default_backend web_tls

backend turn_tls
  server livekit livekit:443 check resolvers docker init-addr libc,none

backend web_tls
  server caddy caddy:443 check resolvers docker init-addr libc,none
